/* Chroma GitHub Dark Syntax Highlighting */
.chroma {
    color: #f8f8f2;
    background-color: #282a36;
}
.chroma .lnt {
    color: #6272a4;
    display: inline-block;
    width: 2.5em;
    margin-right: 0.5em;
}
.chroma .ln {
    color: #d76db7;
    display: inline-block;
    width: 2.5em;
    margin-right: 0.5em;
}
.chroma .k {
    color: #f8f8f2;
    font-weight: bold;
}
.chroma .kd {
    color: #ff79c6;
}
.chroma .kc {
    color: #e5c07b;
}
.chroma .kn {
    color: #ff79c6;
}
.chroma .kp {
    color: #ff79c6;
}
.chroma .kr {
    color: #ff79c6;
}
.chroma .kt {
    color: #e5c07b;
}
.chroma .kv {
    color: #ff79c6;
}
.chroma .kc {
    color: #ff79c6;
}
.chroma .kt {
    color: #e5c07b;
}
.chroma .s1 {
    color: #98c379;
    font-style: italic;
}
.chroma .s2 {
    color: #56b6c2;
}
.chroma .se {
    color: #6272a4;
    font-weight: bold;
}
.chroma .sh {
    color: #6272a4;
}
.chroma .si {
    color: #6272a4;
    font-style: italic;
}
.chroma .sx {
    color: #6272a4;
}
.chroma .sr {
    color: #6272a4;
}
.chroma .s {
    color: #6272a4;
}
.chroma .na {
    color: #d19a66;
}
.chroma .nb {
    color: #d19a66;
}
.chroma .nc {
    color: #d19a66;
}
.chroma .no {
    color: #d19a66;
}
.chroma .nd {
    color: #d19a66;
}
.chroma .ne {
    color: #d19a66;
}
.chroma .nf {
    color: #d19a66;
    font-style: italic;
}
.chroma .nl {
    color: #8be9fd;
    display: inline-block;
}
.chroma .n {
    color: #f8f8f2;
}
.chroma .ni {
    color: #f8f8f2;
}
.chroma .nt {
    color: #f8f8f2;
}
.chroma .nv {
    color: #f8f8f2;
}
.chroma .vg {
    color: #d19a66;
}
.chroma .vi {
    color: #d19a66;
}
.chroma .nv {
    color: #d19a66;
}
.chroma .il {
    color: #f8f8f2;
}
.chroma .iv {
    color: #f8f8f2;
}
.chroma .it {
    color: #f8f8f2;
}
.chroma .ip {
    color: #f8f8f2;
}
.chroma .s1 {
    color: #98c379;
    font-style: italic;
}
.chroma .s {
    color: #6272a4;
}
.chroma .ss {
    color: #6272a4;
}
.chroma .sa {
    color: #6272a4;
}
.chroma .sx {
    color: #6272a4;
}
.chroma .sc {
    color: #6272a4;
}
.chroma .sd {
    color: #6272a4;
}
.chroma .s2 {
    color: #56b6c2;
}
.chroma .sx {
    color: #6272a4;
}
.chroma .s {
    color: #6272a4;
}
.chroma .w {
    color: #6272a4;
}
.chroma .o {
    color: #d19a66;
}
.chroma .ow {
    color: #6272a4;
}
.chroma .p {
    color: #d19a66;
}
.chroma .pm {
    color: #d19a66;
}
.chroma .mi {
    color: #d19a66;
}
.chroma .mf {
    color: #d19a66;
}
.chroma .c {
    color: #d19a66;
}
.chroma .cp {
    color: #d19a66;
}
.chroma .cpf {
    color: #d19a66;
}
.chroma .l {
    color: #d19a66;
}
.chroma .g {
    color: #d19a66;
}
.chroma .gd {
    color: #d19a66;
}
.chroma .ge {
    color: #d19a66;
}
.chroma .gr {
    color: #d19a66;
}
.chroma .gs {
    color: #d19a66;
}
.chroma .gt {
    color: #d19a66;
}
.chroma .gu {
    color: #d19a66;
}
.chroma .gh {
    color: #d19a66;
}
.chroma .go {
    color: #d19a66;
}
.chroma .gp {
    color: #d19a66;
}
.chroma .m {
    color: #d19a66;
}
.chroma .mh {
    color: #d19a66;
}
.chroma .err {
    color: #f44747;
    background-color: #443d56;
}
.chroma .lnlinks {
    color: #8be9fd;
}
.chroma .hll {
    background-color: #443d56;
}
.chroma .hl {
    background-color: #3e445e;
}
.chroma .hl {
    background-color: #3e445e;
}
