{{ partial "head/meta.html" . }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500;600&display=swap"
/>
{{ $styles := slice
  (resources.Get "css/theme/variables.css")
  (resources.Get "css/base.css")
  (resources.Get "css/layout.css")
  (resources.Get "css/typography.css")
  (resources.Get "css/header.css")
  (resources.Get "css/posts.css")
  (resources.Get "css/footer.css")
  (resources.Get "css/components.css")
  (resources.Get "css/interactions.css")
  | resources.Concat "css/main.css"
  | minify
  | fingerprint
}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script>
  window.FontAwesomeConfig = {
    autoReplaceSvg: "nest",
    observeMutations: false
  };
</script>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

{{ if fileExists "static/favicon.ico" }}
  <link rel="icon" href="{{ "favicon.ico" | relURL }}" />
{{ end }}
{{ if fileExists "static/favicon.svg" }}
  <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}" />
{{ end }}
{{ if fileExists "static/favicon-32x32.png" }}
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ "favicon-32x32.png" | relURL }}"
  />
{{ end }}
{{ if fileExists "static/favicon-16x16.png" }}
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ "favicon-16x16.png" | relURL }}"
  />
{{ end }}

{{ $hasMermaid := and .IsPage (.HasShortcode "mermaid") }}
{{ $hasAsciinema := and .IsPage (.HasShortcode "asciinema") }}
{{ if or $hasMermaid $hasAsciinema }}
  <script defer src="{{ "js/content-tools.js" | relURL }}"></script>
{{ end }}

{{ if $hasMermaid }}
  <script defer src="{{ "js/mermaid-init.js" | relURL }}"></script>
{{ end }}

{{ if $hasAsciinema }}
  {{ $asciinemaMajor := "3" }}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/asciinema-player@{{ $asciinemaMajor }}/dist/bundle/asciinema-player.css"
  />
  <script defer src="https://cdn.jsdelivr.net/npm/asciinema-player@{{ $asciinemaMajor }}/dist/bundle/asciinema-player.min.js"></script>
  <script defer src="{{ "js/asciinema-init.js" | relURL }}"></script>
{{ end }}

<script src="{{ "js/theme-bootstrap.js" | relURL }}"></script>
