{{ $key := .Get "key" }}
{{ if not $key }}
  {{ errorf "asciinema shortcode requires 'key': %s" .Position }}
{{ end }}

{{ $cast := printf "casts/%s.cast" $key | relURL }}
{{ $rows := .Get "rows" | default 24 }}

{{ $autoplayRaw := lower (printf "%v" (.Get "autoplay" | default "false")) }}
{{ $loopRaw := lower (printf "%v" (.Get "loop" | default "false")) }}
{{ $preloadRaw := lower (printf "%v" (.Get "preload" | default "false")) }}

{{ $autoplay := or (eq $autoplayRaw "true") (eq $autoplayRaw "1") }}
{{ $loop := or (eq $loopRaw "true") (eq $loopRaw "1") }}
{{ $preload := or (eq $preloadRaw "true") (eq $preloadRaw "1") }}

{{ $id := printf "asciinema-%d" .Ordinal }}

<div
  id="{{ $id }}"
  class="asciinema-embed"
  data-cast-url="{{ $cast }}"
  data-rows="{{ $rows }}"
  data-autoplay="{{ if $autoplay }}true{{ else }}false{{ end }}"
  data-loop="{{ if $loop }}true{{ else }}false{{ end }}"
  data-preload="{{ if $preload }}true{{ else }}false{{ end }}"
></div>
